
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FIN CSS -->
</head>
<body>


  <br><br><br>



<body>
<style>.parallax-container {height: 70%;} .seleccionarP:hover, .seleccionarM:hover{cursor: pointer;}</style>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br><br><br><br><br>

        <div class="row">
          
          <div class="col l3"></div>
            <div style="background: rgba(245, 245, 245, 1)" class="col l6 z-depth-1">
              <div class="row">
                <div style="color: whitesmoke;" class="col l6 teal accent-4 seleccionarP">
                   <h6 class="flow-text center">PACIENTE</h6>
                </div>
                <div style="color: whitesmoke;" class="col l6 teal accent-4 seleccionarM">
                   <h6 class="flow-text center">MÉDICO</h6>
                </div>
              </div> 
          <!-- LOG IN MEDICO -->
          <form method="PUT" action="/medico/mostrarPacientes/">
            <div class="mSeleccionar container">
              <div class="row center">
                <h4 class="header col s12 m12 l12 flow-text">Introduzca su número de licencia médica</h4>
                <div class="col s12 m4 l2"></div>
                <div class="input-field col s12 m4 l8">
                  <input id="licencia" type="number" class="validate" name="licencia">
                  <label for="licencia">Número de licencia</label>
                </div>
                <div class="col s12 m4 l2"></div>
              </div>
            <div class="row center">
              <input type="submit" id="download-button" class="btn-large waves-effect waves-light teal accent-4" value="Ver Pacientes"/>
            </div>
            <br><br><br>
          </div>
          </form>            
          <!-- LOG IN MEDICO -->

          <!-- LOG IN PACIENTE -->
          <form method="PUT" action="/paciente/showPaciente/">
          <div class="pSeleccionar hide section no-pad-bot">
            <div class="container">
              <div class="row center">
                <h4 class="header col s12 m12 l12 flow-text">Introduzca su cédula de identidad</h4>
                <div class="col s12 m4 l2"></div>
                <div class="input-field col s12 m4 l8">
                  <input id="cedula" type="number" class="validate" name="cedula">
                  <label for="cedula">Número de cedula</label>
                </div>
                <div class="col s12 m4 l2"></div>
                <div class=" col s12 m12 l12">
                  <input class="btn waves-effect waves-light" type="submit" value="Ingresar" ></input>
                  <a type="submit" href="Paciente/Registro" id="boton-registrar download-button" class="btn waves-effect waves-light">Registrarse</a>
                </div>
                </form>
              </div>
            </div>
            <br><br><br>
          </div>


        </div>


        <br> <br> <br> <br> <br> <br>

      </div>
    </div>
    <div class="parallax"><img src="https://i.imgur.com/JwR81vo.png" alt="">
    </div>
  </div>
  <br>
</div>



<br><br><br><br>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });

    $(document).ready(function(){
      $('.seleccionarP').click(function(){
          $('.pSeleccionar').removeClass("hide");
          $('.mSeleccionar').addClass("hide");
        });
      $('.seleccionarM').click(function(){
          $('.mSeleccionar').removeClass("hide");
          $('.pSeleccionar').addClass("hide");
        });
    });
  </script>

  </body>
  </html>
